.hero-about {
    width: 100%;
    height: 300px; /* Adjust as needed */
    background-size: cover;
    background: #dcffd7 url('./../../../assets/grid-bg.svg') no-repeat center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-about-cont {
    text-align: center;
}

.hero-about-heading {
    margin: 0;
    font-family: Mulish, sans-serif;
    font-size: 2.25rem;
    font-weight: 700;
    color: #212521;
}

@media screen and (max-width: 640px) {
    .hero-about-heading {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 425px) {
    .hero-about-heading {
        font-size: 1.5rem;
    }
}