.executive-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 25rem;
  height: 3.5rem;
  padding: 0.25rem;
  /* gap: .5rem; */
  border-radius: 0.5rem;
  border: 0.0625rem;
  margin: 3.25rem auto 0rem;
  background-color: rgb(225, 225, 225);
}

.cp-button {
  color: rgba(24, 28, 23, 0.6);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
  text-align: center;
  /* background-color: transparent; */
  padding: 0.875rem 3.1875rem;
}

.cp-button.active {
  box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.1);
  background-color: rgb(19, 134, 1);
  color: #fff;
  padding: 0.875rem 1.875rem;
  border-radius: 0.5rem;
}
.executive {
  background: white;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border: 0.0625rem solid rgba(232, 232, 232, 0.933);
  border-radius: 1.25rem;
  border: 0.0625rem solid rgba(232, 232, 232, 0.9);
}

.executive img {
  border-radius: 1.25rem 0rem 0rem 1.25rem;
  height: 352px;
  width: auto;
  max-width: 380px;
  min-width: 320px;
  /* object-fit: cover; */
  /* flex: 1 1 0; */
}

.executive-acad {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 1.5rem auto 6.25rem;
}

.executive-details {
  padding: 0rem 3rem 0rem 0rem;
  flex: 1 1 0;
}

.executive-name {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5625rem;
  text-align: left;
}

.executive-acad-detail {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.executive-acad-detail svg {
  fill: #595c58;
  width: 1.3rem;
  height: auto;
}

.executive-acad-text {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.125rem;
  text-align: left;
  color: rgba(24, 28, 23, 0.722);
}

.executive-sm {
  display: flex;
  align-items: center;
  gap: 2.25rem;
}

.executive-sm img:hover {
  transform: translateY(-0.1875rem);
}

@media screen and (max-width: 645px) {
  .executive {
    flex-direction: column;
  }
  .executive img {
    border-radius: 1.25rem 1.25rem 0rem 0rem;
  }
  .executive-acad {
    margin-bottom: 4rem;
  }
  .executive-details {
    padding: 0rem 3rem 3rem 0rem;
  }
}
