.executive {
    background: white;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    border: .0625rem solid rgba(232, 232, 232, 0.933);
    border-radius: 1.25rem;
    border: .0625rem solid rgba(232, 232, 232, 0.9);
}


.executive img {
    border-radius: 1.25rem 0rem 0rem 1.25rem;
    object-fit: cover;
    flex: 1 1 0;
}

.executive-acad {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    margin: 1.5rem auto 6.25rem;

}

.executive-details {
    padding: 0rem 3rem 0rem 0rem;
    flex: 1 1 0;
}

.executive-name {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5625rem;
    text-align: left;
}

.executive-acad-detail {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.executive-acad-detail svg {
    fill: #595c58;
    width: 1.3rem;
    height: auto;
}


.executive-acad-text {
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.125rem;
    text-align: left;
    color: rgba(24, 28, 23, 0.722);
}

.executive-sm {
    display: flex;
    align-items: center;
    gap: 2.25rem;
}



.executive-sm img:hover {
    transform: translateY(-0.1875rem);
}

@media screen and (max-width:645px) {
    .executive {
        flex-direction: column;
    }
    .executive img {
        border-radius: 1.25rem 1.25rem 0rem 0rem;
    }
    .executive-acad {
       margin-bottom: 4rem;
    
    }
    .executive-details {
        padding: 0rem 3rem 3rem 0rem;    }

}