* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nacos-tree {
    width: 100%;
}

.man {
    width: 100%;
    margin: 60px auto;
    padding: 85px 100px;
    background: #f7f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.man-col {
    padding: 32px 28px 28px;
    margin-right: 20px;
    border-radius: 16px;
    box-shadow: 0 20px 32px 4px rgba(0,0,0,0.06);
}
/* This is just to remove the margin on the last col - It doesn't need margin on the right... */
.stop {
    margin-right: 0;
}

.man-col img {
    width: 50px;
    margin-bottom: 16px;
}

.man-col h4 {
    color: #181C17;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

.man-col p {
    color: rgba(24, 28, 23, 0.8);
    font-size: 16px;
    font-weight: 400;;
}