.values-section {
    padding-top: 3rem;
    background-image: url('../../../assets/grid-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    padding-bottom: 50px;
}

.values {
    width: 100%;
    padding: 0 6.25rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}

.value {
    padding: 0 1.75rem;
    border-radius: 1rem;
    /* box-shadow: 0 1.25rem 2rem .25rem rgba(0, 0, 0, 0.06); */
    border: 1px solid #e0e0e0;
    background-color: #f7f5f5;
}

.value:hover {
    background-color: #194b88;
    color: white;
    transition: all 0.3s ease-in-out;
}


.hover-white{
    color: white;
}

.mr-0 {
    margin-right: 0;
}

.value img {
    width: 3rem;
    margin-top: 1.75rem;
    margin-bottom: 1rem;
}

.value h4 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}



.value p {
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 1.75rem;
}

@media screen and (max-width: 768px) {
    .values {
        padding: 0 2rem;
    }
}

@media screen and (max-width: 645px) {
    .value img {
        width: 2rem;
    }

    .value h4 {
        font-size: 1.2rem;
    }

    .value p {
        font-size: .9rem;
    }
}

@media screen and (max-width: 425px) {
    .values {
        grid-template-columns: 1fr;
    }
}