.executives {

    background: url("../../../assets/pattern-transparent.png") center repeat;
}

.executives-container {
    padding: 4.375rem 1.875rem;
    cursor: default;
    margin: 0 auto;
    max-width: 80rem;

}

.executives svg {
    width: 1.5rem;
    height: auto;
    fill: green;
    stroke: green;
}


.executive-head {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 3rem;
    text-align: center;
    color: rgb(24, 28, 23);
    margin-top: 6.25rem;
}

.executive-subhead {
    font-family: DM Sans;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75rem;
    text-align: center;
    color: rgba(24, 28, 23, 0.8);
    margin: 1.75rem auto 6.25rem;
}

.executive-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 5rem;
}

.vae {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .75rem;
    margin: 5rem auto 0rem;
}

.vae img {
    width: 1.5rem;
    height: 1.5rem;
}

.vae-text {
    font-family: DM Sans;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.3125rem;
    text-align: left;
    color: rgb(19, 134, 1);
}