@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
}

main {
  position: relative;
  min-height: 100vh;
}

.scroll-to-top-icon {
  position: fixed;
  bottom: 16.1875rem;
  right: 1.25rem;
}