@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&family=Mulish:wght@200;300;400;500;600;700&display=swap');
:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

.flexCenter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.textBig {
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
}

.textSmall {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

