.c-wrapper {
    position: relative;
    font-family: 'Mulish', sans-serif;
}


/* first div */

.c-container .first {
    background: #dcffd7;
    width: 100%;
}

.first .c-heading {
    width: 100%;
}

.first .c-heading>h1 {
    text-align: center;
    margin: 2.8rem auto 0;
}


/* second div  */

.second {
    margin-top: 5rem;
}

.second>.s-text {
    width: 49rem;
    margin-bottom: 5rem;
}

.form {
    width: 573px;
    margin: 0 auto;
}

.second input {
    display: block;
    margin: 40px auto;
    width: 100%;
    padding: 1rem 3rem;
    border-radius: 8px;
    outline: none;
    border: 1px solid rgba(33, 37, 33, 0.32);
    font-family: 'DM Sans', sans-serif;
}

input::placeholder,
textarea::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.form>img {
    position: absolute;
}

.icon {
    padding: 15px 20px;
}

textarea {
    width: 100%;
    height: 119px;
    outline: none;
    border: 1px solid rgba(33, 37, 33, 0.32);
    resize: none;
    padding: 0.7rem 3rem;
    border-radius: 8px;
}

.btn-submit {
    font-family: 'DM Sans', sans-serif;
    background: #138601;
    color: #fff;
    cursor: pointer;
}

.btn-submit:hover {}