.c-wrapper {
    position: relative;
    font-family: 'Mulish', sans-serif;
}


/* first div */

.c-container .first {
    background: #dcffd7;
    width: 100%;
}

.first .c-heading {
    width: 100%;
}

.first .c-heading>h1 {
    text-align: center;
    margin: 2.8rem auto 0;
}


/* second div  */

.second {
    margin-top: 5rem;
}

.second>.s-text {
    width: 49rem;
    margin-bottom: 5rem;
}

.second input {
    display: block;
    margin: 10px auto;
    width: 573px;
    padding: 1rem;
    border-radius: 8px;
}