.c-wrapper {
    position: relative;
}

.c-container {
    background: #dcffd7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.first .c-heading>h1 {
    margin: 1.5rem auto 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
}