.c-wrapper {
    position: relative;
}

.c-container {
    background: #dcffd7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.first .c-heading>h1 {
    margin: 2rem auto;
}