.c-wrapper {
    position: relative;
}

.c-container {
    background: ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* .c-heading {} */