.c-wrapper {
    position: relative;
    font-family: 'Mulish', sans-serif;
}

.c-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* first div */

.c-container .first {
    background: #dcffd7;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first .c-heading>h1 {
    margin: 2.8rem auto 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
}


/* second div  */

.second {
    margin-top: 5rem;
}

.second>.s-text {
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    width: 49rem;
    margin-bottom: 5rem;
}

.second input {
    display: block;
    margin: 10px auto;
    width: 573px;
    padding: 1rem;
    border-radius: 8px;
}